/* layout stylesheet (grid stytem)*/
/* header grid*/
.top-header{
    display: grid;
    grid-gap: 10px ;   
    grid-template-columns: 1fr 10fr 2fr;
}
/* top menu grid*/
nav ul{
    display:grid;
    grid-template-columns: repeat(5,150px);
    justify-items: center;
    justify-content: center;
}
/* top social icon grid*/
.social-icon ul{
    display: grid;
    grid-template-columns:1fr 40px 40px 40px ;
}
.social-icon ul li{
    justify-self: end;
}
/* header logo grid*/
.header-logo{
    height: 100vh;
    display: grid;
    grid-template-rows: 470px 100px 100px;
    justify-content: center;
    align-content: center;
}



