/* stylesheet */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}
/* top container*/
.container{
    height: 3000px;
}
.top-container{
    padding: 50px;
    background-image: url(../images/bg-header.jpg);
    background-size: cover;
    height: 100vh;
}
/* bars for mobile menu */
.bars{
    display: none;
}
/* logo */
.logo img{
    width: 250px;
}
/* header menu*/
nav ul li a{
    color: var(--white);
    font-size: 25px;
}
@media screen and (max-width: 1050px){
    .top-header nav{
        display: none;
    }
    .bars{
        display: block;
        font-size: 35px;
        color: var(--white);
    }
}
@media screen and (max-width: 550px){
    .social-icon{
        display: none;
    }
}
/* header social icons*/
.social-icon ul li{
    font-size: 30px;
    color: var(--white);
    cursor: pointer;
}
/* top header img */
.header-logo img{
    width: 450px;
}
/* top header h1*/
.header-logo h1{
    font-size: 70px;
    color: var(--white);
    border-top: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
}
/* top header button */
.header-logo button{
    min-width: 300px ;
    padding: 20px;
    border: none;
    border-radius: 40px;
    align-self: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--hover);  
    transition: all .5s ease-in-out; 
}
.header-logo button:hover{
    background-color: var(--hover);
    color: white;
    cursor: pointer;
}
/* section one */
.section1-container{
    width: 70%;
    margin: auto;
}
.section-1{
    background-color: rgb(228, 228, 228);
    padding: 20px;
}