/* colors variables*/
:root {
  --gray-btn: rgb(204, 204, 204);
  --gray: rgb(95, 95, 95);
  --gray-btn-action: rgb(151, 151, 151);
  --white: rgb(235, 235, 235);
  --of-white: rgb(200, 200, 200);
  --black: rgb(41, 41, 41);
  --green-btn: rgb(0, 124, 0);
  --green-btn-action: rgb(1, 143, 1);
  --yellow: rgb(255, 220, 66);
  --red: rgb(214, 1, 1);
  --titles: rgb(107, 107, 107);
}
/* font variables*/
:root {
  --big-icon: 80px;
  --icon: 35px;
  --primary-title: 40px;
  --secondary-title: 35px;
  --small-title: 25px;
  --paragraph: 18px;
  --link: 22px;
  --button: 17px;
  --big-button: 18px;
  --weight: bold;
}
