footer{
    background-color: rgb(53, 53, 53);
    padding: 50px 20px 10px;
    color: rgb(212, 212, 212);
}
.bt-container{
    width: 70%;
    margin: auto;
    padding-bottom: 40px;
}
.bt-container .footer-logo img{
    width: 300px;
}
.bt-container .ft h2{
    font-size: 35px;
}
.bt-container .ft span{
    line-height: 200%;
    font-size: 20px;
}
.copy{
    text-align: center;  
}
.copy span {
    padding: 20px;
    font-size: 20px;
}