.btn{
    @include btn;
    &.nav-bar__btn{
        @include btn($small-button, $min-width:110px);
        transition: all .5s ease-in-out;
        &--active:hover{
            background-color: darken($gray-btn, 30%);
            color: $white;  
        }
    }
    &.top-banner__btn{
        @include btn($large-button, $white, $black, $min-width:260px);
        transition: all .5s ease-in-out;
        &--active:hover{
            background-color: darken($gray-btn, 30%);
            color: $white;
          
        }
    }
    &.advertisement__btn{
        @include btn($small-button, $green-btn, $white, $min-width:180px);
        transition: all .5s ease-in-out;
        &--active:hover{
            background-color: darken($green-btn, 5%);
            
        }
    } 
}
