/* buttons mixins */
@mixin btn($fontz:null, $background:null, $color:null){
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: $fontz;
    background-color: $background;
    color:$color;
}
@mixin links($font-icon:null, $fontw:null) {
    color: $white;
    font-size: $font-icon;
    text-decoration: none;
    font-weight: $fontw ;
}
/* advertisement section img mixin */
@mixin product-img($width:200px) {
    max-width: $width;
    width: 100%;
    margin-bottom: 10px;
}
/* department card mixin */
@mixin card() {
    background-color: $card;
    padding: 20px;
    margin: 10px;
    color: $white;
    border-radius: 10px;
    max-width: 380px;
    cursor: pointer;
}
/* font mixin */
@mixin font($fontz:null, $fontw:null, $lineheight:null, $color:null) {
    font-size: $fontz;
    font-weight: $fontw;
    line-height: $lineheight;
    color: $color;
}
@mixin title() {
    font-size: $large-title;
    color: $card;
    margin-bottom: 50px;
}
