/* color variables */
$white:rgb(235, 235, 235);
$black:rgb(26, 26, 26);
$stars:rgb(255, 220, 66);
$price:rgb(206, 55, 55);
$gray-btn:rgb(204, 204, 204);
$green-btn:rgb(0, 163, 0);
$card:rgb(66, 66, 66);
$card-active: darken(rgb(66, 66, 66), 10%) ;

/* font variables*/
$small-title:25px;
$medium-title:35px;
$large-title:50px;
$paragraph:18px;
$link:22px;
$small-icon:35px;
$large-icon:80px;
$small-button:17px;
$large-button:30px;
