/* color variables */
/* font variables*/
/* buttons mixins */
/* title mixin */
/* font mixin */
/* link mixin */
/* img mixin */
/* department card mixin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.nav-bar-container {
  background-image: url(/assets/images/home-page/top-banner/top-banner-background.jpg);
  background-size: cover;
  min-height: 100vh;
}
.nav-bar-container .nav-bar {
  padding: 30px 20px;
}
.nav-bar-container .nav-bar__picture {
  max-width: 300px;
  width: 100%;
}
.nav-bar-container .nav-bar .menu__link {
  color: #ebebeb;
  font-size: 22px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.nav-bar-container .nav-bar .menu__link--active:hover {
  color: #999999;
}
.nav-bar-container .nav-bar .social-icons {
  list-style: none;
}
.nav-bar-container .nav-bar .social-icons__icon {
  color: #ebebeb;
  font-size: 35px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.nav-bar-container .nav-bar .social-icons__icon--active:hover {
  color: #999999;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row-no-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.col-lg-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-lg-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-lg-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-lg-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-lg-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-lg-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-lg-center {
  text-align: center;
}

.col-lg-right {
  text-align: center;
}

.col-lg-left {
  text-align: left;
}

@media (max-width: 1400px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.col-md-center {
  text-align: center;
}

.col-md-right {
  text-align: center;
}

.col-md-left {
  text-align: left;
}

@media (max-width: 860px) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.col-sm-center {
  text-align: center;
}

.col-sm-right {
  text-align: center;
}

.col-sm-left {
  text-align: left;
}

@media (max-width: 500px) {
  .col-xs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.col-xs-center {
  text-align: center;
}

.col-xs-right {
  text-align: center;
}

.col-xs-left {
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .menu {
    display: none;
  }

  .nav-bar__hamburgers {
    display: block;
  }

  .nav-bar__line {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #ebebeb;
  }
}
@media screen and (max-width: 860px) {
  .social-icons {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .register {
    display: none;
  }
}
.homegame-banner__picture {
  max-width: 650px;
  width: 100%;
}
.homegame-banner__title {
  font-size: 50px;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  color: #ebebeb;
  margin-bottom: 15px;
}

.ending {
  padding: 80px 0 20px;
  background-color: #1a1a1a;
}
.ending__title {
  font-size: 35px;
  color: #ebebeb;
  margin-bottom: 10px;
}
.ending__list {
  list-style: none;
  margin-bottom: 30px;
}
.ending__link {
  color: #ebebeb;
  font-size: 18px;
  text-decoration: none;
  line-height: 200%;
  transition: all 1s ease-in-out;
}
.ending__link--active:hover {
  text-decoration: underline;
}
.ending__picture {
  max-width: 200px;
  width: 100%;
  margin-bottom: 10px;
}
.ending__line {
  width: 100%;
  height: 3px;
  background-color: #ebebeb;
}
.ending__legal {
  padding-top: 20px;
  color: #ebebeb;
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
.btn.register__btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  min-width: 110px;
  transition: all 0.5s ease-in-out;
}
.btn.register__btn--active:hover {
  background-color: gray;
  color: #ebebeb;
}
.btn.homegame-banner__btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  background-color: #ebebeb;
  color: #1a1a1a;
  min-width: 260px;
  transition: all 0.5s ease-in-out;
}
.btn.homegame-banner__btn--active:hover {
  background-color: gray;
  color: #ebebeb;
}
.btn.advertisement__btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  background-color: #00a300;
  color: #ebebeb;
  min-width: 180px;
  transition: all 0.5s ease-in-out;
}
.btn.advertisement__btn--active:hover {
  background-color: #008a00;
}

.departments {
  padding: 80px 20px;
}
.departments__title {
  font-size: 50px;
  color: #424242;
  margin-bottom: 50px;
}
.departments__card {
  background-color: #424242;
  padding: 20px;
  margin: 10px;
  color: #ebebeb;
  border-radius: 10px;
  max-width: 380px;
  cursor: pointer;
  transition: all 0.7s ease-out;
}
.departments__card--active:hover {
  transform: scale(1.1, 1.1);
  background-color: #292929;
}
.departments__card > * {
  margin-bottom: 20px;
}
.departments__icon {
  font-size: 80px;
}
.departments__name {
  font-size: 25px;
}
.departments__description {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.main-announcement {
  padding: 80px 20px;
  background-image: url(/assets/images/home-page/main-announcement/background-2.png);
  background-size: cover;
}
.main-announcement__title {
  font-size: 50px;
  color: #424242;
  margin-bottom: 50px;
}
.main-announcement__picture {
  max-width: 600px;
  width: 100%;
  margin-bottom: 10px;
}
.main-announcement__list {
  list-style-position: inside;
  text-align: left;
}
.main-announcement__item {
  font-size: 18px;
  font-weight: bold;
  line-height: 200%;
  color: #424242;
}

.advertisement {
  padding: 80px 20px;
}
.advertisement__title {
  font-size: 50px;
  color: #424242;
  margin-bottom: 50px;
}
.advertisement__product {
  padding: 15px;
  max-width: 300px;
  background-color: #ececec;
  margin: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.advertisement__product--active:hover {
  transform: scale(1.1, 1.1);
  background-color: lightgray;
}
.advertisement__product > * {
  margin-bottom: 15px;
}
.advertisement__picture {
  max-width: 250px;
  width: 100%;
  margin-bottom: 10px;
}
.advertisement__name {
  font-size: 15px;
  color: #ce3737;
}
.advertisement__list {
  list-style: none;
  font-size: 22px;
  line-height: 150%;
}
.advertisement__star {
  font-size: 25px;
  color: #ffdc42;
}
.advertisement__price {
  font-size: 22px;
  font-weight: bold;
  color: #ce3737;
}

/*# sourceMappingURL=main.css.map */
