.btn{
    padding: 10px 30px;
    font-size: var(--button);
    border: none;
    border-radius: 20px;
    color: var(--white);
    font-weight: bold;
}
.nav-bar__btn{
   background-color: var(--gray-btn);
   color: var(--black); 
} 
.nav-bar__btn--active:hover{
    background-color: var(--gray-btn-action);
    color: var(--white);
    transition: all .3s ease-in-out;
}
.top-banner__btn{
    color: var(--black);
    width: 380px;
    text-transform: uppercase;
    font-size: var(--big-button);
} 
.top-banner__btn--active:hover{
    background-color: var(--gray-btn-action);
    color: var(--white);
    transition: all .3s ease-in-out;
}
.advertisement__btn{
    background-color: var(--green-btn);
}
.advertisement__btn--active:hover{
    background-color: var(--green-btn-action);
}