.ending{
    padding: 80px 0 20px;
    background-color: $black;
    &__title{
        @include title($medium-title, $white, 10px);
    }
    &__list{
        list-style: none;
        margin-bottom: 30px;
    }
    &__link{
        @include links($paragraph,$line-height:200%);
        transition: all 1s ease-in-out;
        &--active:hover{
            text-decoration: underline;
        }
    }
    &__picture{
        @include product-img(200px);
    }
    &__line{
        width: 100%;
        height: 3px;
        background-color: $white;
    }
    &__legal{
        padding-top:20px;
        @include links();
    }
}

