.main-container__nav-bar{
    background-image: url(/assets/images/home-page/top-banner/top-banner-background.jpg);
    background-size: cover;
    min-height: 100vh;
    .nav-bar{
        padding: 30px 20px;
        &__picture{
            max-width: 300px;
            width: 100%;
        }
        &__list{
            list-style: none;
            .nav-bar__link{
                @include links($fontz:$link);
                transition: all .2s ease-in-out;
                &--active:hover{
                    color:darken($gray-btn, 20%);
                }
            }
        }
        &__social-list{
            list-style: none;
            .nav-bar__icon{
                @include links($fontz:$small-icon);
                transition: all .2s ease-in-out;
                &--active:hover{
                    color:darken($gray-btn, 20%);
                }
            }
        }
    }
}